<div class="loading-bar" *ngIf="showLoadingBar">
  <div class="wrapper">
    <div class="progress-bar">
      <span class="progress-bar-fill"></span>
    </div>
  </div>
</div>
<div class="chat">
  <app-chat></app-chat>
</div>
<nav class="nav">
  <div class="container-up">
    <div class="menu">
      <div class="left-side">
        <h1>Booking Resort</h1>
      </div>
      <div class="right-side">
        <div class="nav-route">
          <ol>
            <li [routerLink]="'/main/'">
              <a>{{ 'Home' | translatePipe }}</a>
            </li>
          </ol>
        </div>
        <div class="nav-route">
          <ol>
            <li [routerLink]="'/main/rooms'">
              <a>{{ 'Rooms' | translatePipe }}</a>
            </li>
          </ol>
        </div>
        <div class="nav-route">
          <ol>
            <li><a>{{ 'Language' | translatePipe }}</a>
              <ul>
                <li (click)="changeOnEnglish()">
                  {{ 'English' | translatePipe }}
                </li>
                <li (click)="changeOnPolish()">
                  {{ 'Polish' | translatePipe }}
                </li>
              </ul>
            </li>
          </ol>
        </div>
        <div class="nav-route">
          <ol>
            <li (click)="openModal('loginModal')" *appShowForAuth="false"><a>{{ 'Login' | translatePipe }}</a>
            <li *appShowForAuth="true"><a>{{ getUsername() }}</a>
              <ul>
                <li (click)="redirectToProfile()" *appShowForAuth="true">
                  {{ 'Profile' | translatePipe }}
                </li>
                <li (click)="logout()" *appShowForAuth="true">
                  {{ 'Logout' | translatePipe }}
                </li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="greeting-element">
      <h1>
        {{ 'More than an oceanfront hotel' | translatePipe }}
      </h1>
      <div class="separator">
        <hr>
      </div>
      <h2>
        {{ 'The most beautiful place to rest on the entire coast' | translatePipe }}
      </h2>
    </div>
    <div class="hotel-describe-container">
      <h1>
        {{ 'Our hotel received greatest reviews and top marks in an overall world ranking.' | translatePipe }}
        <br>
        <span>{{ 'Decorated with 5 stars, it is recommended even by the most demanding critics.' | translatePipe }}</span>
      </h1>
    </div>
    <div class="shadow"></div>
    <div class="carousel">
      <carousel [images]="images" [loop]="true" [autoplay]="true" objectFit="cover" cellWidth="100%"
                [arrows]="false" [transitionDuration]="1500"></carousel>
    </div>
  </div>
</nav>

<app-login-modal (registerModalOpen)="openModal('registerModal')"></app-login-modal>
<app-registration-modal></app-registration-modal>
