 @import "../../assets/styles/common";

.wrapper {
  width: 100%;
}

.progress-bar {
  width: 100%;
  background-color: $color-brand-ten;
  padding: 1px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
  display: block;
  height: 3px;
  background-color: $color-brand-eighth;
  border-radius: 3px;

  animation: page-indicator-animation 1s ease-out infinite normal none;
}

@keyframes page-indicator-animation {
  0% {
    width: 0
  }
  75% {
    width: 75%
  }
  100% {
    width: 100%
  }
}

.chat {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10000000000;
}

.nav {
  .container-up {
    width: 100%;

    .shadow {
      position: absolute;
      width: 100%;
      height: 900px;
      background-color: rgba(0, 0, 0, .3);
      z-index: 100000;
    }

    .greeting-element {
      position: absolute;
      margin: 330px 0 0 450px;
      z-index: 100000;
      background-color: rgba(0, 0, 0, 0.7);

      h1 {
        color: $color-brand-seventh;
        font-size: 55px;
        margin: 15px 40px;
        font-family: "Damion Regular", Serif;
      }

      hr {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 300px;
      }

      h2 {
        text-align: center;
        color: $color-white;
        margin: 15px 0;

      }
    }

    .hotel-describe-container {
      position: absolute;
      width: 800px;
      background-color: rgba(0, 0, 0, 0.7);
      margin: 650px 0 0 150px;
      z-index: 100000;

      h1 {
        color: $color-white;
        font-size: 25px;
        margin: 30px;

        span {
          font-size: 18px;
        }
      }

      // STRZAÅKA!!!!
      i {
        display: block;
        position: absolute;
        color: white;
        margin: 500px 0 0 300px;
        z-index: 100000;
      }
    }

    ::ng-deep {
      .carousel-cell {

        &, img {
          height: auto !important;
          max-height: 900px;
        }
      }
    }

    .carousel {
      @include flex-center-up;
      width: 100%;
      position: relative;

      i {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000000;
        font-size: 60px;
        color: white;
      }

      carousel {
        width: 100%;
        height: 900px !important;
      }
    }
  }

  .menu {
    @include flex-space-between-center;
    position: absolute;
    z-index: 1000000;
    right: 0;
    top: 50px;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100px;
    padding-right: 15px;

    .left-side {
      margin-left: 200px;
      font-size: 40px;

      h1 {
        color: $color-brand-seventh;
        font-family: "Damion Regular";
      }
    }

    .right-side {
      @include flex-center-center;

      .nav-route {
        margin-right: 10px;

        ol {
          padding: 0;
          margin: 0;
          font-size: 20px;
          height: 2.5em;
          line-height: 2.5em;
          text-align: center;
          background: linear-gradient($color-brand-seventh, $color-brand-seventh) left bottom / 0 .1em no-repeat;
          transition: 1s background-size, color;
          list-style-type: none;
        }

        ol a {
          display: block;
          text-decoration: none;
          color: $color-white;
          font-size: 20px;
          font-family: "Damion Regular";
        }

        ol > li {
          margin-right: 40px;
          padding: 0 10px;
          background: linear-gradient($color-brand-seventh, $color-brand-seventh) left bottom / 0 .1em no-repeat;
          transition: 1s background-size, color;
          height: 2.5em;
          position: relative;
        }

        ol > li:first-child {
          margin-left: 0;
        }

        ol > li:hover {
          background-size: 100% .1em;
          color: $color-brand-seventh;
          background-color: rgba(0, 0, 0, 0.7);
        }

        ol > li:hover > a {
          color: $color-brand-seventh;
        }

        ol > li:hover > ul {
          display: block;
          background-color: rgba(0, 0, 0, 0.7);
        }

        ol > li > ul {
          display: none;
          list-style-type: none;
          padding: 0;
          margin: 0;
          position: absolute;
          left: 0;
          top: 100%;
          width: 125px;
        }

        ol > li > ul > li {
          position: relative;
          font-family: "Damion Regular";
          color: $color-white;
          background: linear-gradient($color-brand-seventh, $color-brand-seventh) left bottom / 0 .1em no-repeat;
          transition: 1s background-size, color;
          font-size: 20px;
          width: 125px;
        }

        ol > li > ul > li:hover {
            color: $color-brand-seventh;
            background-color: $color-brand-third;
            background-size: 100% .1em;
        }
      }
    }
  }
}
