<ngx-smart-modal #updateUserModal identifier="updateUserModal" customClass="update-user-modal nsm-dialog-animation-ltr">
  <div class="main-container">
    <div class="header">
      <h2>
        {{ 'User information' | translatePipe }}
      </h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="user-info">
        <div class="user-property">
          <div class="user-property-name">
            <label for="">{{ 'Name:' | translatePipe }} </label>
          </div>
          <div class="user-property-value">
            <input type="text" placeholder="{{ profile.user.name }}" formControlName="name">
          </div>
        </div>
        <div class="user-property">
          <div class="user-property-name">
            <label for="">{{ 'Surname:' | translatePipe }} </label>
          </div>
          <div class="user-property-value">
            <input type="text" placeholder="{{ profile.user.surname }}" formControlName="surname">
          </div>
        </div>
        <div class="user-property">
          <div class="user-property-name">
            <label for="">{{ 'Date of birth:' | translatePipe }} </label>
          </div>
          <div class="user-property-value">
            <input type="text" placeholder="{{ profile.user.birthDate }}" formControlName="birthday">
          </div>
        </div>
        <div class="user-property">
          <div class="user-property-name">
            <label for="">{{ 'Email:' | translatePipe }} </label>
          </div>
          <div class="user-property-value">
            <input type="text" placeholder="{{ profile.user.email }}" formControlName="email">
          </div>
        </div>
        <div class="error" *ngIf="isSubmitted && formControls.email.errors">
          <span *ngIf="formControls.email.errors.email">EMAIL SHOULD BE IN CORRECT FORMAT</span>
        </div>
        <div class="user-property">
          <div class="user-property-name">
            <label for="">{{ 'Phone:' | translatePipe}} </label>
          </div>
          <div class="user-property-value">
            <input type="text" placeholder="{{ profile.user.phone }}" formControlName="phone">
          </div>
        </div>
        <div class="user-property">
          <div class="user-property-name">
            <label for="">{{ 'Address:' | translatePipe }} </label>
          </div>
          <div class="user-property-value">
            <input type="text" placeholder="{{ profile.user.address }}" formControlName="address">
          </div>
        </div>
        <div class="user-property">
          <div class="user-property-name">
            <label for="">{{ 'City:' | translatePipe }} </label>
          </div>
          <div class="user-property-value">
            <input type="text" placeholder="{{ profile.user.city }}" formControlName="city">
          </div>
        </div>
        <div class="user-property">
          <div class="user-property-name">
            <label for="">{{ "Zip-code:" | translatePipe }} </label>
          </div>
          <div class="user-property-value">
            <input type="text" placeholder="{{ profile.user.zipCode }}" formControlName="zipcode">
          </div>
        </div>
        <div class="user-property">
          <div class="user-property-name">
            <label for="">{{ 'Country:' | translatePipe }} </label>
          </div>
          <div class="user-property-value">
            <input type="text" placeholder="{{ profile.user.country }}" formControlName="country">
          </div>
        </div>
        <div class="user-property-button">
          <button type="submit" [disabled]="isSubmitted">{{ 'Change data' | translatePipe }}</button>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>
