@import "../../../assets/styles/common";

.profile {
  @include flex-direction-column-center;
  background-color: $color-brand-secondary;

  .profile-container-up {
    @include flex-center-up;
    width: 100%;

    .main-container {
      @include flex;
      width: 1100px;
      height: 650px;
      margin-top: 100px;
      background-color: $color-white;
      box-shadow: 3px 3px 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .main-container__left-side {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;

        .picture-shadow {
          @include flex-center-center;
          background-color: rgba(0, 0, 0, 0.8);
          position: absolute;
          width: 300px;
          height: 40px;
          margin-top: 260px;

          button {
            background-color: transparent;
            border: none;
            color: $color-white;
            cursor: pointer;
          }
        }

        .user-picture {

          img {
            width: 300px;
          }
        }

        .caption {
          @include flex-center-up;
          margin-top: 30px;
          width: 300px;
        }

        .change-password-button {
          @include flex-center-down;
          margin-top: 30px;

          button {
            background-color: $color-brand-seventh;
            padding: 10px;
            border: none;
            cursor: pointer;
          }

          button:hover {
            background-color: $color-brand-eighth;
          }
        }
      }

      .main-container__right-side {

        .right-side-header {
          @include flex-direction-column-center;
          width: 500px;
          margin-top: 15px;
          margin-bottom: 15px;

          h2 {
            margin-bottom: 15px;
            //font-family: "Damion Regular", serif;
          }

          .separator-header {
            width: 250px;
            margin-bottom: 10px;
            height: 2px;
            background-color: black;
            border: none;
          }
        }

        .user-info {

          .user-property {
            @include flex;
            width: 600px;
            font-size: 25px;

            .user-property-name {
              width: 400px;
              margin-bottom: 15px;
              //font-family: "Damion Regular";
            }

            .user-property-value {
              margin-bottom: 15px;
              //@include damion-regular;
            }
          }

          .user-property-button {
            @include flex-center-up;
            margin-top: 30px;
            width: 500px;

            button {
              font-size: 16px;
              background-color: $color-brand-seventh;
              padding: 10px;
              border: none;
              cursor: pointer;
            }

            button:hover {
              background-color: $color-brand-eighth;
            }
          }
        }
      }
    }
  }

  .middle-section-reservations, .down-section-discounts, .middle-section-opinion {
    @include flex-direction-column-center;
    width: 1100px;
    max-height: 500px;
    overflow: auto;
    background-color: $color-white;
    box-shadow: 3px 3px 10px;

    .separator {
      width: 900px;
      height: 2px;
      background-color: black;
      border: none;
    }

    .table-reservations-header, .table-discounts-header, .table-opinion-header {
      @include flex-direction-column-center;
      margin-top: 50px;

      h2 {
        font-family: "Damion Regular", Serif;
        margin-bottom: 15px;
      }

      .separator-table-header {
        width: 200px;
        height: 2px;
        background-color: black;
        border: none;
        margin-bottom: 20px;
      }
    }

    table {
      width: 1000px;

      tr {
        th, td {
          padding: 10px 0;
          text-align: center;

          &.date {
            white-space: nowrap;
          }

          .opinion-message-table-row {
            height: 35px;
            overflow: auto;
          }
        }
      }
    }

    .section-button {
      @include flex-right-center;
      margin: 30px 100px 30px 0;

      button {
        background-color: $color-brand-seventh;
        padding: 10px;
        border: none;
        cursor: pointer;
      }

      button:hover {
        background-color: $color-brand-eighth;
      }
    }
  }

  .down-section-discounts {
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
