<ngx-smart-modal #chatModal identifier="chatModal" customClass="chat-modal">
  <div class="modal-inter">
    <div class="title">
      <h2>Enter your name to start chat</h2>
    </div>
    <div class="user-name-input">
      <label for="userName">Name:</label>
      <input type="text" id="userName" [(ngModel)]="usernameValue" [attr.disabled]="user ? '' : null">
    </div>
    <div class="select-city">
      <div class="select-city-title">
        <h2>
          Select city to connect
        </h2>
      </div>
      <div class="select-city-select">
        <select name="cities" id="cities" #city>
          <option *ngFor="let value of availableAdmins" [value]="value.city">{{ value.city }}</option>
        </select>
      </div>
    </div>
    <div class="buttons-down">
      <button (click)="getUserChoice()">Provide</button>
    </div>
  </div>
</ngx-smart-modal>
