$color-brand-primary: #555555;
$color-brand-secondary: #E0EFFF;
$color-brand-third:	#003333;
$color-brand-fourth: #660101;
$color-brand-fifth: #dbdbdb;
$color-brand-sixth: #a88c8c;
$color-brand-seventh: #987b3f;
$color-brand-eighth: #4b3d00;
$color-brand-ninth: #003333;
$color-brand-ten: #e0e0e0;

$color-this-message: #5b70fa;
$color-incoming-message: #011861;

$color-white: #ffffff;
$color-black: #000000;

$color-dark-1000: #000000;
$color-dark-900: #555555;

$color-success: #22bb33;
$color-danger: #bb2124;
$color-info: #0000ff;
$color-warning: #ffa500;

//@todo OOCSS i SMACSS
//@todo selektory html! powtórzyć html i css i scss!!!!!!!!

// itcss (inverted triangle css) -> metodologia pisania kodu, która dotyczy struktury kodu, wprowadza sugeruje większą
// separację kodu na struktury nie ma szytwnych reguł, ale jest elastyczna i stanowi bardziej zbiór wskazówek,
// które jednak podlegają własnej interpetacji, stosowana z nazewnictem BEMIT ->
// BEM (blok, element, modyfikator + odpowiednie znaki) + IT (od ITCSS)
// do stosowania z preprocesorem CSS, raczej nie koliduje z innymi metodologiami css
// ogólny schemat struktury ITCSS:
// settings -> zmienne i metody, ustawienia
// tools -> miksy i funkcje
// generic -> jakieś sprawy generyczne
// elements -> selektory html, reset np.
// objects -> obiekty
// components -> klasy stylizujące, scss
// utilities -> jakieś narzędzia, ogólnie formuły do nadpisania styli, rzeczy najbardziej szczegółowe i najmniej generyczne

//input form__input form__input--green
