@import "colors";

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex {
  display: flex;
}

@mixin flex-center-center {
  @include flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-center-row-reverse {
  @include flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

@mixin flex-center-up {
  @include flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-center-down {
  @include flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin flex-left-center {
  @include flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-left-center-wrap {
  @include flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-left-up {
  @include flex;
  justify-content: left;
}

@mixin flex-wrap {
  @include flex;
  flex-wrap: wrap;
}

@mixin flex-right-center {
  @include flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-right-center-wrap {
  @include flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-right-down {
  @include flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@mixin flex-space-between {
  @include flex;
  justify-content: space-between;
}

@mixin flex-space-between-center {
  @include flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-around-center {
  @include flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-direction-row-center {
  @include flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-direction-column-center {
  @include flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-direction-column-left{
  @include flex;
  flex-direction: column;
}

@mixin background-primary {
  background-color: $color-brand-primary;
}

@mixin background-secondary {
  background-color: $color-brand-secondary;
}

@mixin background-third {
  background-color: $color-brand-third;
}

@mixin border-solid($width, $color) {
  border: $width solid $color;
}

@mixin transition-font-size($size) {
  font-size: $size;
}
