<main class="main">
  <div class="container-up">
    <div class="filters-frame">
    </div>
    <div class="filters">
      <div class="inputs">
        <div class="arrival">
          <dp-date-picker
            #arrivalDayPicker
            [theme]="'dp-material'"
            class=""
            [placeholder]="currentDate | date:'d MMMM y'"
            [config]="datePickerConfig"
            (onChange)="selectedArrivalDate = $event.toString()"
          >
          </dp-date-picker>
        </div>
        <div class="departure">
          <dp-date-picker
            #departureDayPicker
            [theme]="'dp-material'"
            class=""
            [placeholder]="nextDate | date:'d MMMM y'"
            [config]="datePickerConfig"
            (onChange)="selectedDepartureDate = $event.toString()"
          >
          </dp-date-picker>
        </div>
        <div class="number-people-input">
          <select [(ngModel)]="numberOfGuests">
            <option value="0" selected disabled hidden>Choose here</option>
            <option value="1">1 {{ 'person' | translatePipe }}</option>
            <option value="2">2 {{ 'people' | translatePipe }}</option>
            <option value="3">3 {{ 'people' | translatePipe }}</option>
            <option value="4">4 {{ 'people' | translatePipe }}</option>
            <option value="5">5 {{ 'people' | translatePipe }}</option>
            <option value="6">6 {{ 'people' | translatePipe }}</option>
          </select>
        </div>
        <div class="filter-button">
          <button routerLink="rooms"
                  [queryParams]="{
                  arrivalDateFromMain: getArrivalDate(selectedArrivalDate),
                  departureDateFromMain: getDepartureDate(selectedDepartureDate),
                  numberOfGuestsFromMain: numberOfGuests }">
            {{ 'Check rooms' | translatePipe }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-middle">
    <div class="middle-section">
      <div class="container-middle-header">
        <h1>
          {{ 'Why you should choose our resort?' | translatePipe }}
          <hr>
        </h1>
      </div>
      <div class="location">
        <div class="location-describe">
          <h2>1) {{ 'Our hotel is located on the oceanfront of the ocean' | translatePipe }}</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at beatae cum deleniti enim et eveniet
            ex
            exercitationem magnam natus nisi, nulla, odit qui, quo reprehenderit saepe voluptatum. Accusantium dolore
            eaque error expedita iste magni necessitatibus porro quos similique ut?
          </p>
          <div class="location-picture">
            <img src="app/assets/images/main/hotel-location.jpg" alt="Picture showing hotel location on the oceanfront">
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="attractions">
        <div class="attractions-describe">
          <h2>2) {{ 'Many attractions' | translatePipe }}</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at beatae cum deleniti enim et eveniet
            ex:
          </p>
          <ul>
            <li>
              {{ 'Massages and rehabilitation treatments' | translatePipe }}
            </li>
            <li>
              {{ 'Gym and playgrounds' | translatePipe }}
            </li>
            <li>
              {{ 'Water equipment rental' | translatePipe }}
            </li>
            <li>
              {{ 'Best bar in the area' | translatePipe }}
            </li>
            <li>
              {{ 'Restaurant with fantastic food' | translatePipe }}
            </li>
            <li>
              {{ 'Beautiful, wild surroundings' | translatePipe }}
            </li>
            <li>
              {{ 'And many many more.' | translatePipe }}
              {{ 'See the attractions section to see all the attractions of our hotel' | translatePipe }}
            </li>
          </ul>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at beatae cum deleniti enim et eveniet
            Aliquid facere impedit nulla porro quidem soluta!
          </p>
          <div class="attraction-picture">
            <img src="app/assets/images/main/massage.jpg" alt="Picture showing massage">
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="service">
        <div class="service-describe">
          <h2>3) {{ 'Fantastic service' | translatePipe }}</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at beatae cum deleniti enim et eveniet
            ex
            exercitationem magnam natus nisi, nulla, odit qui, quo reprehenderit saepe voluptatum. Accusantium dolore
            eaque error expedita iste magni necessitatibus porro quos similique ut Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Alias architecto commodi impedit nemo non omnis perferendis quibusdam sit
            voluptate voluptatum.
          </p>
          <div class="service-picture">
            <img src="app/assets/images/main/service.jpg" alt="Picture showing hotel reception">
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="modern-style">
        <div class="modern-style-describe">
          <h2>4) {{ 'Beautiful rooms decorated in a modern style' | translatePipe }}</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at beatae cum deleniti enim et eveniet
            ex
            exercitationem magnam natus nisi, nulla, odit qui, quo reprehenderit saepe voluptatum. Accusantium dolore
            eaque error expedita iste magni necessitatibus porro quos similique ut Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Alias architecto commodi impedit nemo non omnis perferendis quibusdam sit
            voluptate voluptatum.
          </p>
          <div class="modern-style-picture">
            <img src="app/assets/images/main/hotel-room.jpg" alt="Picture showing hotel room">
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="zoo">
        <div class="zoo-describe">
          <h2>5) {{ 'We have created a beautiful zoo with your kids in mind' | translatePipe }}</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at beatae cum deleniti enim et eveniet
            ex
            exercitationem magnam natus nisi, nulla, odit qui, quo reprehenderit saepe voluptatum. Accusantium dolore
            eaque error expedita iste magni necessitatibus porro quos similique ut Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Alias architecto commodi impedit nemo non omnis perferendis quibusdam sit
            voluptate voluptatum.
          </p>
          <div class="zoo-picture">
            <img src="app/assets/images/main/zoo.jpg" alt="Picture showing hotel zoo">
          </div>
        </div>
      </div>
    </div>
    <div class="side-section">
      <div class="side-section-header">
        <h2>
          {{ 'Opinions about us' | translatePipe }}
        </h2>
      </div>
      <hr>
      <div class="side-section-container">
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            The most beautiful place I have been, great service, definitely 5 stars.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Great service, fantastic holiday, I recommend it to everyone.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Incredibly located hotel, the best we've had the opportunity to relax in.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Incredible place, the most beautiful place where I had the opportunity to rest.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            I heartily recommend the hotel and recreation worth any price.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            The most beautiful place I have been, great service, definitely 5 stars.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Incredibly located hotel, the best we've had the opportunity to relax in.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Incredible place, the most beautiful place where I had the opportunity to rest.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            I heartily recommend the hotel and recreation worth any price.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quisquam.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Incredible place, the most beautiful place where I had the opportunity to rest.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            I heartily recommend the hotel and recreation worth any price.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quisquam.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Incredible place, the most beautiful place where I had the opportunity to rest.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            I heartily recommend the hotel and recreation worth any price.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quisquam.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Incredible place, the most beautiful place where I had the opportunity to rest.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            I heartily recommend the hotel and recreation worth any price.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quisquam.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Incredible place, the most beautiful place where I had the opportunity to rest.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            I heartily recommend the hotel and recreation worth any price.
          </div>
          <div class="side-section-separator"></div>
        </div>
        <div class="side-section-opinion">
          <div class="opinion-date">
            {{ currentDate | date:'MMM d, y, h:mm a' }}
          </div>
          <div class="opinion-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, quisquam.
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="chat">-->
<!--    <app-chat></app-chat>-->
<!--  </div>-->
</main>
