@import "../../assets/styles/common";

.main {

  .chat {

    button {
      border: none;
      background: transparent;

      i {
        font-size: 50px;
      }
    }

    button:hover {
      i {
        color: blue;
      }
    }
  }

  .chat-transparent{
    background-color: transparent !important;
    color: transparent !important;
    z-index: -1000000000000000000;
    font-size: 500px;
    visibility: hidden;
  }
}
