@import "../../../assets/styles/common";

::ng-deep {
  .register-modal {
    .nsm-content {
      padding: 0;
      box-shadow: 0 2px 5px $color-white;
      background-color: rgba(0, 0, 0, 0.7);
      width: 500px;

      button {
        color: $color-white;
      }
    }
  }
}

.main-body {
  .title {
    @include flex-center-center;
    width: 100%;
    background-color: $color-brand-third;
    margin-bottom: 40px;

    h1 {
      margin-top: 10px;
      margin-bottom: 15px;
      color: $color-white;
      font-family: "Damion Regular";
    }
  }

  .form {
    form {
      .form-control {
        @include flex-center-center;
        padding: 0 20px;

        input {
          margin: 5px 0 20px 0;
          width: 250px;
          height: 35px;
          font-size: 25px;
        }

        label {
          margin: 0 0 20px 0;
          font-size: 26px;
          width: 145px;
          height: 25px;
          color: $color-white;
          font-family: "Damion Regular";
        }

        button {
          margin: 5px 0 10px 0;
          font-size: 25px;
          background-color: $color-brand-seventh;
          border: none;
          color: #ffffff;
          width: 150px;
          font-family: "Damion Regular";
        }

        button:hover {
          background-color: $color-brand-eighth;
        }
      }

      .error {
        @include flex-right-center;
        color: $color-danger;
        margin: 0 58px 10px 0;

        span {
          font-family: "Damion Regular";
        }
      }

      .form-control-confirmation {
        @include flex-center-center-row-reverse;
        width: 100%;

        label {
          margin: 0 0 20px 10px;
          font-size: 26px;
          width: 380px;
          height: 25px;
          color: $color-white;
          font-family: "Damion Regular";
        }

        input {
          margin: 5px 0 20px 0;
        }
      }
    }
  }
}

// POSZERZYĆ OKNO, DOPASOWAĆ BARDZIEJ
