<ngx-smart-modal #registerModal customClass="register-modal" identifier="registerModal">
  <div class="main-body">
    <div class="title">
      <h1>Create your account</h1>
    </div>
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-control">
          <label for="">Name:</label>
          <input type="text" class="name properties" formControlName="name">
        </div>
        <div class="error" *ngIf="isSubmitted && fc.name.errors">
          <span *ngIf="fc.name.errors.required">NAME IS REQUIRED</span>
        </div>
        <div class="form-control">
          <label for="">Surname:</label>
          <input type="text" class="surname properties" formControlName="surname">
        </div>
        <div class="error" *ngIf="isSubmitted && fc.surname.errors">
          <span *ngIf="fc.surname.errors.required">SURNAME IS REQUIRED</span>
        </div>
        <div class="form-control">
          <label for="">Birthday:</label>`
          <input type="date" class="birthday properties" formControlName="birthDate">
        </div>
        <div class="error" *ngIf="isSubmitted && fc.birthDate.errors">
          <span *ngIf="fc.birthDate.errors.required">BIRTHDAY IS REQUIRED</span>
        </div>
        <div class="form-control">
          <label for="">Username:</label>
          <input type="text" class="username properties" formControlName="username">
        </div>
        <div class="error" *ngIf="isSubmitted && fc.username.errors">
          <span *ngIf="fc.username.errors.required">USERNAME IS REQUIRED</span>
        </div>
        <div class="form-control">
          <label for="">Password:</label>
          <input type="password" class="password properties" formControlName="password">
        </div>
        <!--    JESZCZE INNE BŁĘDY -->
        <div class="error" *ngIf="isSubmitted && fc.password.errors">
          <span *ngIf="fc.password.errors.required">PASSWORD IS REQUIRED</span>
        </div>
        <div class="form-control">
          <label for="">Email:</label>
          <input type="text" class="email properties" formControlName="email">
        </div>
        <div class="error" *ngIf="isSubmitted && fc.email.errors">
          <span *ngIf="fc.email.errors.required">EMAIL IS REQUIRED, SHOULD BE IN CORRECT FORMAT</span>
        </div>
        <div class="form-control">
          <label for="">Phone:</label>
          <input type="text" class="phone properties" formControlName="phone">
        </div>
        <!--    NUMBER IS TOO SHORT ITD... -->
        <div class="error" *ngIf="isSubmitted && fc.phone.errors">
          <span *ngIf="fc.phone.errors.required">PHONE IS REQUIRED</span>
        </div>
        <div class="form-control">
          <label for="">Address:</label>
          <input type="text" class="address properties" formControlName="address">
        </div>
        <div class="error" *ngIf="isSubmitted && fc.address.errors">
          <span *ngIf="fc.address.errors.required">ADDRESS IS REQUIRED</span>
        </div>
        <div class="form-control">
          <label for="">City:</label>
          <input type="text" class="city properties" formControlName="city">
        </div>
        <div class="error" *ngIf="isSubmitted && fc.city.errors">
          <span *ngIf="fc.city.errors.required">CITY IS REQUIRED</span>
        </div>
        <div class="form-control">
          <label for="">Zip code:</label>
          <input type="text" class="zipCode properties" formControlName="zipCode">
        </div>
        <div class="error" *ngIf="isSubmitted && fc.zipCode.errors">
          <span *ngIf="fc.zipCode.errors.required">ZIP CODE IS REQUIRED</span>
        </div>
        <div class="form-control">
          <label for="">Country:</label>
          <input type="text" class="country properties" formControlName="country">
        </div>
        <div class="error" *ngIf="isSubmitted && fc.country.errors">
          <span *ngIf="fc.country.errors.required">COUNTRY IS REQUIRED</span>
        </div>
        <div class="form-control-confirmation">
          <label for="ageConfirmation" class="confirmation">I confirm that I am 18 years or older</label>
          <input type="checkbox" class="ageConfirmation" formControlName="ageConfirmation" id="ageConfirmation">
        </div>
        <div class="error" *ngIf="isSubmitted && fc.ageConfirmation.errors">
          <span *ngIf="fc.ageConfirmation.errors.required">YOU MUST CONFIRM YOUR AGE</span>
        </div>
        <div class="form-control-confirmation">
          <label for="acceptedTerms" class="confirmation">I accept the terms of the regulations</label>
          <input type="checkbox" class="acceptedTerms" id="acceptedTerms" formControlName="acceptedTerms">
        </div>
        <div class="error" *ngIf="isSubmitted && fc.acceptedTerms.errors">
          <span *ngIf="fc.acceptedTerms.errors.required">YOU MUST ACCEPT THE TERMS</span>
        </div>
        <div class="form-control">
          <button type="submit" [disabled]="isSubmitted">Register</button>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>

