<ngx-smart-modal #changePasswordModal identifier="changePasswordModal" customClass="change-password-modal">
  <div class="main-container">
    <div class="header">
      <h2>
        {{ 'Change password: ' | translatePipe }}
      </h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="password-input">
        <div class="password-input-name">
          <label for="">{{ 'Old password: ' | translatePipe }} </label>
        </div>
        <div class="password-input-value">
          <input type="password" placeholder="{{ 'Old password' }}" formControlName="oldPassword">
        </div>
      </div>
      <div class="error" *ngIf="isSubmitted && formControls.oldPassword.errors">
        <span *ngIf="formControls.oldPassword.errors.required">EMAIL SHOULD BE IN CORRECT FORMAT</span>
      </div>
      <div class="password-input">
        <div class="password-input-name">
          <label for="">{{ 'New password: ' | translatePipe }} </label>
        </div>
        <div class="password-input-value">
          <input type="password" placeholder="{{ 'New password' }}" formControlName="newPassword">
        </div>
      </div>
      <div class="error" *ngIf="isSubmitted && formControls.newPassword.errors">
        <span *ngIf="formControls.newPassword.errors.required">EMAIL SHOULD BE IN CORRECT FORMAT</span>
      </div>
      <div class="password-input">
        <div class="password-input-name">
          <label for="">{{ 'Confirm password: ' | translatePipe }} </label>
        </div>
        <div class="password-input-value">
          <input type="password" placeholder="{{ 'Confirm password' }}" formControlName="passwordConfirmation">
        </div>
      </div>
      <div class="error" *ngIf="isSubmitted && formControls.passwordConfirmation.errors">
        <span *ngIf="formControls.passwordConfirmation.errors.required">EMAIL SHOULD BE IN CORRECT FORMAT</span>
      </div>
      <div class="user-property-button">
        <button type="submit" [disabled]="isSubmitted">{{ 'Change data' | translatePipe }}</button>
      </div>
    </form>
  </div>
</ngx-smart-modal>
