@import "../../../assets/styles/common";

.rooms-component {
  width: 100%;
  background-color: $color-brand-secondary;

  .filters {
    @include flex-wrap;
    width: 100%;
    min-height: 200px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.42);

    .filters-header {
      width: 100%;
      margin: 30px 20px 0 30px;

      h2 {
        display: inline-block;
      }
    }

    .filters-body {
      @include flex-space-around-center;
      width: 100%;
      margin: 10px 0;

      .filter-select {
        @include flex-center-center;
        width: 15%;
        height: 100%;

        .ng-select.ng-select-styles ::ng-deep {
          width: 100%;
          height: 100%;
          margin-bottom: 11px;
        }
      }
    }

    ::ng-deep {
      input {
        background: $color-brand-secondary;
        font-size: 14px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: thin solid rgba(0, 0, 0, 0.42);
      }

      .dp-calendar-wrapper {
        border: 5px solid rgba(0, 0, 0, 0.42);
      }

      .dp-calendar-day {
        width: 45px;
        height: 45px;
      }

      .dp-calendar-weekday {
        height: 35px;
        line-height: 35px;
        width: 45px;
      }

      .dp-calendar-nav-container {
        height: 45px;
      }

      .dp-calendar-nav-left {
        margin-bottom: 10px;
      }

      .dp-nav-header-btn {
        height: 30px;
        width: 100px;
      }
    }

    .filters-button {
      @include flex-right-center;
      width: 100%;
      margin: 10px 50px 20px 0;

      button {
        width: 100px;
        margin-left: 10px;
        font-size: 14px;
        background-color: $color-brand-seventh;
        padding: 10px;
        border: none;
        cursor: pointer;
      }

      button:hover {
        background-color: $color-brand-eighth;
      }
    }
  }

  .rooms-container {
    @include flex-direction-column-center;
    width: 100%;
    margin-top: 30px;

    .room-box {
      @include flex-wrap;
      width: 1200px;
      background-color: $color-white;
      box-shadow: 2px 2px 10px;
      margin: 10px 0;

      .picture {
        margin: 15px 30px 0 15px;

        img {
          width: 700px;
        }
      }

      .room-box-info {

        .room-box-description-header {
          @include flex-center-up;
          margin-top: 15px;
          margin-bottom: 30px;
        }

        .room-box-capacity-price {

          span {
            display: inline-block;
            width: 200px;
            margin-right: 20px;
            margin-bottom: 30px;
          }
        }

        .room-box-desc-eq {
          margin-bottom: 30px;

          p {
            margin-bottom: 10px;
          }

          ul {
            li {
              margin-left: 235px;
              margin-bottom: 10px;
              list-style-type: disc;
            }
          }
        }
      }

      .room-box-description {
        margin: 15px 15px 0 15px;

        .desc {

          p {
            line-height: 24px;
          }

          span {
            font-size: 20px;
            margin-right: 5px;
          }
        }

        .room-box-button {
          @include flex-right-center;
          margin: 25px 40px 35px 0;

          p {
            margin-right: 15px;
            font-size: 20px;
          }

          button {

            i {
              font-size: 27px;
            }
          }

          button:hover {
            background-color: $color-brand-seventh;
          }
        }
      }
    }

    .room-box:first-child {
      margin-top: 20px;
    }

    .room-box:last-child {
      margin-bottom: 40px;
    }
  }
}
