<div class="rooms-component">
  <div class="filters">
    <div class="filters-header">
      <h2>
        {{ 'Filters:' | translatePipe }}
      </h2>
    </div>
    <div class="filters-body">
      <div class="filter-select">
        <dp-date-picker
          [theme]="'dp-material'" class=""
          [(ngModel)]="arrivalDate"
          [placeholder]="getArrivalPlaceholder()"
          [config]="datePickerConfiguration">
        </dp-date-picker>
      </div>
      <div class="filter-select">
        <dp-date-picker
          [theme]="'dp-material'" class=""
          [(ngModel)]="departureDate"
          [placeholder]="getDeparturePlaceholder()"
          [config]="datePickerConfiguration">
        </dp-date-picker>
      </div>
      <div class="filter-select">
        <ng-select
          [(ngModel)]="roomCapacity"
          class="ng-select-styles"
          [items]="capacity"
          [multiple]="false"
          bindLabel="name"
          bindValue="name"
          placeholder="{{ getCapacityPlaceholder() }}"
          [hideSelected]="true"
        >
        </ng-select>
      </div>
      <div class="filter-select">
        <ng-select
          class="ng-select-styles"
          [items]="priceRange"
          bindLabel="name"
          bindValue="id"
          [multiple]="true"
          placeholder="price range"
          (add)="onPriceRangeAdd($event)"
          (remove)="onPriceRangeRemove($event)"
          (clear)="onClearRanges()"
          [hideSelected]="true">
        </ng-select>
      </div>
      <div class="filter-select">
        <ng-select
          class="ng-select-styles"
          [items]="equipments"
          bindLabel="name"
          bindValue="id"
          [multiple]="true"
          placeholder="equipment"
          (add)="onEquipmentAdd($event)"
          (remove)="onEquipmentRemove($event)"
          (clear)="onClearEquipment()"
          [hideSelected]="true">
        </ng-select>
      </div>
    </div>
    <div class="filters-button" (click)="filterRooms()">
      <button>
        {{ 'Find' | translatePipe }}
      </button>
    </div>
  </div>
  <div class="rooms-container">
    <div class="room-box" *ngFor="let room of rooms">
      <div class="picture">
        <img src="app/assets/images/rooms/room-modern-style.jpg" alt="Hotel room picture">
      </div>
      <div class="room-box-info">
        <div class="room-box-description-header">
          <h2>
            {{ 'Room number' | translatePipe }} {{ room.roomNumber }}
          </h2>
        </div>
        <div class="room-box-capacity-price">
          <p>
            <b>
              <span>
                {{ 'Capacity' | translatePipe }}
              </span>
              {{ room.roomCapacity }}
            </b>
          </p>
          <p>
            <b>
              <span>
                {{ 'Price' | translatePipe }}
              </span>
              {{ room.priceForNight }}
            </b>
          </p>
        </div>
        <div class="room-box-desc-eq">
          <p><b>{{ 'Room equipments' | translatePipe }}</b></p>
          <ul *ngFor="let eq of room.equipments">
            <li>
              <b>{{ eq }}</b>
            </li>
          </ul>
        </div>
      </div>
      <div class="room-box-description">
        <div class="desc">
          <p><b><span>{{ 'Description:' | translatePipe }}</span></b>{{ room.description }}</p>
        </div>
        <div class="room-box-button">
          <p>{{ 'For more information' | translatePipe }}</p>
          <button [routerLink]="'/main/rooms/' + room.id">
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
