<ngx-smart-modal #loginModal identifier="loginModal" customClass="login-modal" (onClose)="onClose()">
  <div class="modal-inter">
    <div class="title">
      <h1>Login</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()" id="login-form">
      <div class="form-control">
        <label for="">Username:</label>
        <input type="text" class="username" formControlName="username">
      </div>
      <div class="error" *ngIf="isSubmitted && fc.username.errors">
        <span *ngIf="fc.username.errors.required">USERNAME IS REQUIRED</span>
      </div>
      <div class="form-control">
        <label for="">Password:</label>
        <input type="password" class="password" formControlName="password">
      </div>
      <div class="error" *ngIf="isSubmitted && fc.password.errors">
        <span *ngIf="fc.password.errors.required">PASSWORD IS REQUIRED</span>
      </div>
    </form>
  </div>

  <div class="buttons-down">
    <button (click)="openRegisterModal()" [disabled]="isSubmitted">Sign up</button>
    <button [disabled]="isSubmitted" type="submit" form="login-form">Sign in</button>
  </div>
</ngx-smart-modal>
