@import "app/assets/styles/common";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@font-face {
  font-family: 'Hanalei', serif;
  src: url("/assets/fonts/Hanalei-Regular.ttf") format('opentype');
  font-weight: 400;
}

body {
  font-family: "Damion Regular", Serif;
}

#toast-container {
  z-index: 10000000 !important;
}

